
.team-member img {
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    border-radius: 50%; /* Changed to 50% for circular images */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-bottom: 10px;
    border: 3px solid #16441c;
}
.team-member img:hover {
    border-color: #0b8d2b;
}
.team-member h4 {
    font-family: 'Arial Black', sans-serif;
    color: #000;
}
.team-member .role {
    font-style: italic;
    color: #0b8d2b;
}
.team-member .description {
    font-family: 'Georgia', serif;
    color: #222;
}
.team-member p {
    text-transform: uppercase;
    color: #050505;
}
.team-member p:hover {
    text-decoration: none;
    color: #0b8d2b;
    cursor: pointer;
}
.team-member {
    text-align: center;
    margin-bottom: 30px;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.founder-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #ff5722;
}
.founder-img:hover {
    border-color: #16a32d;
}
.founder h4 {
    font-family: 'Lucida Sans', sans-serif;
    color: #000;
}
.founder .role {
    font-style: italic;
    color: #0b8d2b;
}
.founder .description {
    font-family: 'Palatino Linotype', serif;
    color: #222;
}
.founder p {
    text-transform: uppercase;
    color: #050505;
}
.founder p:hover {
    text-decoration: none;
    color: #16a32d;
    cursor: pointer;
}
.founder {
    text-align: center;
    margin-bottom: 40px;
}
.founder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

